
body, html {
    background: $light;
    color: $dark;
    font-family: $font-main;
    height: 100%;
}

a {
    cursor: pointer;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.strong {
    font-weight: bold;
}

.tall {
    min-height: 100% !important;
}
